# Ignorar pastas e arquivos comuns de desenvolvimento
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.swp
*.swo
*.swn
.DS_Store
.idea/
.vscode/
*.log

# Permitir arquivos de mídia (imagens e vídeos)
!*.png
!*.jpg
!*.jpeg
!*.mp4
!*.avi

# Ignorar outros tipos de arquivos temporários
*.tmp
*.bak
*.old
